body {
  min-height: 100vh;
  background: linear-gradient(white, whitesmoke, rgb(57, 103, 176));
}

.navbar {
  height: 60px;
}

.contents {
  padding-top: 60px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  color: red;
}