<!DOCTYPE html>

<html lang="ja">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

		{# favicon #}
		<link rel="icon" href="/public/favicon-black.ico"/>

		{# javascript #}
		<script src="js/changeFavicon.js"></script>

		{# css #}
		<link href="css/common.css" rel="stylesheet" type="text/css"/>
		<link href="css/list.css" rel="stylesheet" type="text/css"/>
		<title>PhotoStudio -admin-</title>
	</head>

	<body>
		<div class="header">
			<h1 class="logo">
				<a href="home.php">
					PhotoStudio
				</a>
			</h1>
		</div>


	</body>
</html>
