<nav class="navbar navbar-expand-md bg-black fixed-top" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand text-white fs-3 fw-bold" href="admin.php">
			<img width="30" height="30" class="d-inline-block align-text-top" src="public/logo-white.png" alt="logo-white.png">
			PhotoStudio
		</a>
	</div>
</nav>
