<div class="modal fade" id="deleteConfirmModal{{photo.photo_id}}" tabindex="-1" aria-labelledby="deleteConfirmModalLabel{{photo.photo_id}}" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteConfirmModalLabel{{photo.photo_id}}">削除確認</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
			</div>
			<div class="modal-body">
				本当にこの投稿を削除してもよろしいですか？
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
				<a href="adminCheck.php?photo_id={{ photo.photo_id }}&action=delete" class="btn btn-danger">
					削除する
				</a>
			</div>
		</div>
	</div>
</div>
